@import "breakpoints";

.grid {
  border: dashed 1px #abc;
  width: 100%;
  height: 200px;
  display: flex;

  .item {
    width: 200px;
    height: 100px;
    border: dashed 1px green;
  }
}

//---------------------------------------------------
// Change mixins.
//---------------------------------------------------

@mixin one-column {
  .grid {
    .item {
      background-color: red;
    }
  }
}

@mixin two-columns {
  .grid {
    .item {
      background-color: orange;
    }
  }
}

@mixin three-columns {
  .grid {
    .item {
      background-color: yellow;
    }
  }
}

@mixin four-columns {
  .grid {
    .item {
      background-color: lightgreen;
    }
  }
}

@mixin five-columns {
  .grid {
    .item {
      background-color: cyan;
    }
  }
}

//---------------------------------------------------
// Breakpoint settings.
//---------------------------------------------------

// Default.
@include one-column();

// Default override.
@media screen and (min-width: 1px) {
  .bp-0-1 {
    @include one-column();
  }
  .bp-0-2 {
    @include two-columns();
  }
  .bp-0-3 {
    @include three-columns();
  }
  .bp-0-4 {
    @include four-columns();
  }
  .bp-0-5 {
    @include five-columns();
  }
}

@media screen and (min-width: $breakpoint1) {
  .bp-1-1 {
    @include one-column();
  }
  .bp-1-2 {
    @include two-columns();
  }
  .bp-1-3 {
    @include three-columns();
  }
  .bp-1-4 {
    @include four-columns();
  }
  .bp-1-5 {
    @include five-columns();
  }
}

@media screen and (min-width: $breakpoint2) {
  .bp-2-1 {
    @include one-column();
  }
  .bp-2-2 {
    @include two-columns();
  }
  .bp-2-3 {
    @include three-columns();
  }
  .bp-2-4 {
    @include four-columns();
  }
  .bp-2-5 {
    @include five-columns();
  }
}

@media screen and (min-width: $breakpoint3) {
  .bp-3-1 {
    @include one-column();
  }
  .bp-3-2 {
    @include two-columns();
  }
  .bp-3-3 {
    @include three-columns();
  }
  .bp-3-4 {
    @include four-columns();
  }
  .bp-3-5 {
    @include five-columns();
  }
}

@media screen and (min-width: $breakpoint4) {
  .bp-4-1 {
    @include one-column();
  }
  .bp-4-2 {
    @include two-columns();
  }
  .bp-4-3 {
    @include three-columns();
  }
  .bp-4-4 {
    @include four-columns();
  }
  .bp-4-5 {
    @include five-columns();
  }
}
