@import "breakpoints";

.gridWrapper {
  background-color: burlywood;
  margin: auto;
  min-width: 310px;
  margin-bottom: 40px;
}

.fullWidth {
  width: 100%;
}

.partWidth {
  width: 75%;
}

// Do not define default mobile styles in here so that the styles
// may be defined at any breakpoint.
.grid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: dashed 1px black;

  .col {
    color: red;
    display: flex;
    justify-content: center;
  }

  .item {
    width: 300px;
    height: 100px;
    margin: 0 5px 10px;
    background-color: #abc;
    box-sizing: border-box;
    border: solid 10px grey;
  }
}

//---------------------------------------------------
// Layout mixins.
//---------------------------------------------------

@mixin layout1 {
  .grid {
    .col {
      width: 100%;
    }
  }
}

@mixin layout2 {
  .grid {
    flex-direction: row;

    .col {
      flex-basis: 50%;
    }
  }
}

@mixin layout3 {
  .grid {
    .col {
      flex-basis: 33.3%;
    }
  }
}

@mixin layout4 {
  .grid {
    .col {
      flex-basis: 25%;
    }
  }
}

//---------------------------------------------------
// Breakpoint settings.
//---------------------------------------------------

// Default.
@include layout1();

// Default override.
@media screen and (min-width: 1px) {
  .bp-0-1 {
    @include layout1();
  }
  .bp-0-2 {
    @include layout2();
  }
  .bp-0-3 {
    @include layout3();
  }
  .bp-0-4 {
    @include layout4();
  }
}

@media screen and (min-width: $breakpoint1) {
  .bp-1-1 {
    @include layout1();
  }
  .bp-1-2 {
    @include layout2();
  }
  .bp-1-3 {
    @include layout3();
  }
  .bp-1-4 {
    @include layout4();
  }
}

@media screen and (min-width: $breakpoint2) {
  .bp-2-1 {
    @include layout1();
  }
  .bp-2-2 {
    @include layout2();
  }
  .bp-2-3 {
    @include layout3();
  }
  .bp-2-4 {
    @include layout4();
  }
}

@media screen and (min-width: $breakpoint3) {
  .bp-3-1 {
    @include layout1();
  }
  .bp-3-2 {
    @include layout2();
  }
  .bp-3-3 {
    @include layout3();
  }
  .bp-3-4 {
    @include layout4();
  }
}
