@import "breakpoints";

.grid {
  border: dashed 1px #abc;
  width: 100%;
  height: 200px;
  display: flex;

  .item {
    width: 200px;
    height: 100px;
    border: dashed 1px green;
  }
}

@mixin one-column {
  .grid {
    .item {
      background-color: cyan;
    }
  }
}

@mixin two-columns {
  .grid {
    .item {
      background-color: lightgreen;
    }
  }
}

@mixin three-columns {
  .grid {
    .item {
      background-color: orange;
    }
  }
}

@media screen and (min-width: $breakpoint1) {
  .bp-1-1 {
    @include one-column();
  }
  .bp-1-2 {
    @include two-columns();
  }
  .bp-1-3 {
    @include three-columns();
  }
}

@media screen and (min-width: $breakpoint2) {
  .bp-2-1 {
    @include one-column();
  }
  .bp-2-2 {
    @include two-columns();
  }
  .bp-2-3 {
    @include three-columns();
  }
}

@media screen and (min-width: $breakpoint3) {
  .bp-3-1 {
    @include one-column();
  }
  .bp-3-2 {
    @include two-columns();
  }
  .bp-3-3 {
    @include three-columns();
  }
}
