@import "layout-controller";

// Default, one column grid.
.grid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: dashed 1px black;

  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .item {
    width: 300px;
    height: 100px;
    margin: 0 5px 10px;
    background-color: #abc;
    box-sizing: border-box;
    border: solid 10px grey;
  }
}

//---------------------------------------------------
// Layouts
//---------------------------------------------------

// Two columns.
@mixin layout2 {
  .grid {
    flex-direction: row;

    .col {
      flex-basis: 50%;
    }
  }
}

// Three columns.
@mixin layout3 {
  .grid {
    .col {
      flex-basis: 33.3%;
    }
  }
}

// Four columns.
@mixin layout4 {
  .grid {
    .col {
      flex-basis: 25%;
    }
  }
}

// Invoke layout controller
@include control-layout();